.form-container.MuiContainer-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.form-box .h2.MuiTypography-root {
  color: var(--black);
  padding-bottom: 12px;
}

.form {
  margin-top: 48px;
}

.form .input {
  margin: 12px auto;
}

.form .checkbox-label .MuiTypography-root {
  font-weight: 500;
  font-size: 14px;
  color: var(--blackish-green);
}

.form .orange {
  font-weight: 500;
  font-size: 14px;
  color: var(--slamon-orange);
  text-decoration: none;
  margin-left: 5px;
}

.form .submit-btn {
  margin: 30px auto;
  padding: 15px 12px;
  color: var(--blackish-green);
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--mint-green);
}

.form .submit-btn:hover {
  background-color: var(--mint-green-hover);
}

.form .submit-btn:focus {
  background-color: var(--mint-green-focus);
}

.form-container .back-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  margin-bottom: 34px;
}

.form-logo {
  cursor: pointer;
  margin: 34px 0;
}
