.banner {
  position: absolute;
  top: 0;
  background: url("https://ik.imagekit.io/xe8oxb5c5l/Golobe/landing-bg.jpg")
    no-repeat center;
  background-color: #d9d9d9;
  background-size: cover;
  z-index: -1;
}

.banner,
.content-container {
  width: 100%;
  height: 600px;
  border-radius: 0px 0px 24px 24px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.content-container h2,
.content-container h1,
.content-container h6 {
  color: var(--white);
  margin-bottom: 10px;
}

.content-container h1 {
  letter-spacing: 5px;
}

.content-container h6 {
  font-weight: 600;
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  .banner,
  .content-container {
    height: 400px;
  }

  .content-container h2 {
    font-size: 20px;
  }
  .content-container h1 {
    font-size: 30px;
  }
  .content-container h6 {
    font-size: 10px;
  }
}
